:root { 
--green_300:#8ac190; 
--white_A700_3a:#ffffff3a; 
--light_blue_500_02:#00a3ff; 
--light_blue_A100:#78deff; 
--light_blue_500:#009dff; 
--light_blue_500_01:#08abf1; 
--green_500:#4caf50; 
--white_A700_99:#ffffff99; 
--black_900_01:#0a0a0a; 
--light_blue_A700:#0075ff; 
--white_A700_19:#ffffff19; 
--purple_A400:#ff01c6; 
--deep_purple_A200:#6355ff; 
--pink_300:#ff55a6; 
--black_900_02:#0f0f0f; 
--white_A700_4c:#ffffff4c; 
--indigo_A700_7f:#0a22fb7f; 
--blue_900:#195aa8; 
--blue_gray_100:#d9d9d9; 
--blue_700:#106ad5; 
--indigo_A700_b2:#0019ffb2; 
--amber_500:#ffc107; 
--red_A200:#ff5555; 
--black_900_0c:#0000000c; 
--white_A700_63:#ffffff63; 
--black_900_99:#00000099; 
--indigo_A700:#082df1; 
--blue_gray_900_cc:#333333cc; 
--white_A700_28:#ffffff28; 
--white_A700:#ffffff; 
--orange_300_7f:#ffa7567f; 
--indigo_600:#2b35c3; 
--cyan_A400:#00d1ff; 
--deep_purple_900:#291890; 
--green_400_7f:#3fcc807f; 
--light_blue_600:#089df1; 
--red_500:#f53649; 
--gray_50:#fafafa; 
--deep_purple_300:#9577d4; 
--green_400:#3fcc80; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--white_A700_37:#ffffff37; 
--pink_A400:#ff0162; 
--gray_500_01:#89a38b; 
--purple_A700:#a302e6; 
--gray_900_e5:#0e0f2de5; 
--deep_purple_A700:#7d03ed; 
--deep_orange_A400:#ff5201; 
--light_blue_400_b2:#31b5ffb2; 
--white_A700_e5:#ffffffe5; 
--purple_A400_01:#da01dd; 
--gray_700:#6a6a6a; 
--gray_500:#999999; 
--blue_800:#0159dd; 
--blue_700_01:#1976d2; 
--gray_900:#0e0f2d; 
--gray_900_01:#191a1e; 
--orange_300:#ffa756; 
--deep_purple_A200_7f:#6355ff7f; 
--gray_100:#f7f7f7; 
--white_A700_87:#ffffff87; 
--deep_orange_A400_01:#ff3d00; 
--blue_400_7f:#55a3ff7f; 
--deep_purple_A700_01:#2300ff; 
--black_900_cc:#000000cc; 
--blue_800_19:#0159dd19; 
--gray_900_7f:#00074c7f; 
--white_A700_01:#fefefe; 
--white_A700_02:#ffffff02; 
--blue_400:#55a3ff; 
--light_blue_500_4c:#009dff4c; 
}